name: Makefile CI

on:
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: arduino/setup-protoc@v3
    - name: Compile unittest
      run: make unittest
    - name: Run unittest
      run: ./tests/unittest

